# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/

# Ambientes e Editores
.vscode/
.idea/
*.swp
*.swo

# Pacotes e Distribuições
*.zip

# Sistema Operacional
.DS_Store
Thumbs.db

# Segredos e Variáveis de Ambiente
.env
.env.*
*.local
